spell/

# Lockfiles are intended to be checked into source control, but I don't like my
# config's working directory going dirty everytime I run an update, and I'm not
# interested in keeping my devices in sync
lazy-lock.json
